---
---

@import "{{ site.theme }}";

/* Header background */
.page-header {
  background-color: #2b1e14 !important;
  background-image: none !important;
}

/* Header title */
.project-name {
  color: #f5f5f4 !important;
}

/* Header subtitle */
.project-tagline {
  color: #e7e5e4 !important;
}

/* Section headings */
h2, h3 {
  color: #2b1e14;
}
