---
---

@import "{{ site.theme }}";

/* Header background */
.page-header {
  background-color: #0b0b0b !important;
  background-image: none !important;
}

/* Header title */
.project-name {
  color: #ffffff !important;
}

/* Header subtitle */
.project-tagline {
  color: #d1d5db !important;
}
