<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  </head>

  <body class="{{ page.body_class | default: 'home' }}">
    <header class="page-header">
      <h1>{{ page.title | default: site.title }}</h1>
      <p>{{ site.description }}</p>
    </header>

    <main class="wrapper">
      {{ content }}
    </main>
  </body>
</html>
